body {
  font-family: sans-serif!important;
  overflow: hidden;
}

.hidden {
  display: none!important;
}

.tab-panel {
  display: none;
  width: 220px;
  height: 100%;
  padding-left: 6px;
  border-left: 1px solid #333;
}

.tab-panel:before {
  content: "";
  display: table;
  clear: both;
}

.tab-panel.active {
  display: block;
}

.tab-panel-title {
  line-height: 1.1;
}

#loading,
.notify {
  font-size: 14px;
  top: 50px;
}

#loading .inner,
.notify .inner {
  color: #000;
  line-height: 1.25;
  padding: 5px 4px 3px;
  border-radius: 0;
  background-color: #e9ac38;
}

#footer {
  height: 25px;
  line-height: 25px;
  background-color: #000;
  position: relative;
  z-index: 99;
}

#footer .indicator-list {
  float: left;
  list-style: none;
  padding: 0 5px;
  margin: 0;
}

#footer .indicator-list li {
  float: left;
  padding: 0 5px;
  margin-right: 0!important;
  cursor: pointer;
  text-decoration: none!important;
}

.main-wrapper {
  margin-right: 50px;
}

.userbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50px;
  border-left: 1px solid #333;
}

.form-horizontal {
  margin-bottom: 20px;
}

.form-group {
  padding: 3px 0;
  position: relative;
  box-sizing: border-box;
}

.control-label {
  display: block;
  float: left;
  width: 60px;
  padding-top: 12px;
}

.select2-container, .selection, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-results__option[aria-selected=true] {
  font-family: Consolas, monospace !important;
  outline: none !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #111 !important;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-results__option[aria-selected=true] {
  border-radius: 0;
  background-color: #111 !important;
  border-color: #333;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
}

.select2-dropdown {
  background-color: #000;
  border-color: #333;
  border-radius: 0;
}

.form-group .control {
  float: left;
  width: 154px; /* 220 - 60 - 6 留右边距 */
}

.form-group .form-control {
  width: 100%;
  padding: 6px 3px;
  outline: none!important;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 0;
  box-sizing: border-box;
}

.userbar li.active a {
  color: #56af45!important;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: inset 12px 0 15px rgba(0, 0, 0, 1);
}

.userbar a {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, .5)!important;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.userbar a:hover {
  color: rgba(255, 255, 255, .65)!important;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#orderbook .table .row {
  height: 15px;
  line-height: 15px;
}

.hide {
  display: none!important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.dark a {
  color: #56af45;
}

.dark #periods li a {
  color: #fff;
  text-decoration: none!important;
}

.dark #periods li.selected a {
  color: #56af45;
  font-weight: bold;
}

table.simple ul li {
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  list-style: none;
  display: none;
  width: 283px;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid rgba(255, 255, 255, .125);
  border-left-width: 0;
  background-color: #000;
}

.dropdown .dropdown-menu a {
  display: block;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  border: 1px solid rgba(255, 255, 255, .125);
  border-width: 0 0 0 1px;
}

.dropdown-hover .dropdown-menu {
  display: block;
}

.horizontal-list li {
  float: left;
}

#control {
  font-family: sans-serif!important;
  font-weight: 400;
}

#periods {
  padding: 5px 6px;
  background-color: rgba(255, 255, 255, .105);
}

#periods > li {
  display: block;
  float: left;
  margin-right: 2px;
}

#periods .title {
  font-weight: bold;
}

#periods .btn button {
  height: 30px;
  border-radius: 0;
  background-color: #000;
  border-color: rgba(255, 255, 255, .125)!important;
  box-sizing: border-box;
}

#periods .btn button:hover,
#periods .btn button:active,
#periods .btn button:focus {
  background-color: #0f0f0f;
}

#periods > li.subsep {
  margin: 0 6px;
  height: 20px;
  position: relative;
  top: 4px;
}

#periods > li.period.first {
  /*margin-left: 10px;*/
}

#periods > li.period {
  margin-right: -1px;
}

#periods > li.period.last {
  margin-right: 0;
}

#periods > li.period > a {
  display: block;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, .125)!important;
  box-sizing: border-box;
}

#periods > li.period > a:hover,
#periods > li.period > a:focus,
#periods > li.period > a:active {
  background-color: #0f0f0f;
}


.modal {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;

  background-color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(255, 255, 255, .255);
  border-radius: 5px;

  box-shadow: 0px 0px 3px #666;

  display: none;
  min-width: 600px;
}

.backdrop {
  content: "";
  display: block;
  position: absolute;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .65);
}

.modal .header {
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .125);
  cursor: move;
}

.modal .header .close {
  float: right;
  font-size: 18px;
  padding: 0 4px 2px;
  margin-top: -4px;
  background-color: transparent;
  border: 0;
  opacity: .65;
}

.modal .header .close:hover {
  opacity: 1;
}

.modal .body {
  padding: 10px;
}

.modal .body table {
  width: 100%;
}

.modal .body table th a {
  color: #fff;
}

.markets-modal {
}

.markets-modal .body table {
  width: 100%;
}

.drawline {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;

  background-color: #000;
  border-right: 1px solid rgba(255, 255, 255, .125);
}

.drawline {
  display: none;
}

.drawline.active {
  display: block!important;
}

.modes {
  list-style: none;
  padding-left: 0;
}

.modes > li {
  padding: 2px;
}

.modes > li > a {
  display: block;
  color: rgba(255, 255, 255, .5);
  padding: 6px 10px;
}

.modes > li > a:hover {
  color: rgba(255, 255, 255, .85);
}

#sidebar {
  position: relative;
}

.market-depth {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #333;
}

.feed-list {
  list-style: none;
  padding: 10px 6px 10px 0;
  margin: 0;
}

.feed-list > li {
  padding: 7px 0;
  margin: 5px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, .25);
}

.feed-list > li > a{
  color: #999;
}
