body {
  font-family: sans-serif!important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.dark a {
  color: #f60;
}

.dark #periods li a {
  color: #fff;
  text-decoration: none!important;
}

.dark #periods li.selected a {
  color: #f60;
  font-weight: bold;
}

#control {
  font-family: sans-serif!important;
  font-weight: 400;
}

#periods {
  padding: 5px 6px;
  background-color: rgba(255, 255, 255, .105);
}

#periods > li {
  display: block;
  float: left;
  margin-right: 2px;
}

#periods .title {
  font-weight: bold;
}

#periods .btn button {
  height: 30px;
  border-radius: 0;
  background-color: #000;
  border-color: rgba(255, 255, 255, .125)!important;
  box-sizing: border-box;
}

#periods .btn button:hover,
#periods .btn button:active,
#periods .btn button:focus {
  background-color: #0f0f0f;
}

#periods > li.subsep {
  margin: 0 6px;
  height: 20px;
  position: relative;
  top: 4px;
}

#periods > li.period.first {
  /*margin-left: 10px;*/
}

#periods > li.period {
  margin-right: -1px;
}

#periods > li.period.last {
  margin-right: 0;
}

#periods > li.period > a {
  display: block;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, .125)!important;
  box-sizing: border-box;
}

#periods > li.period > a:hover,
#periods > li.period > a:focus,
#periods > li.period > a:active {
  background-color: #0f0f0f;
}


.modal {
}

.modal.market-modal {
}
